# Criando uma Tabela

## Criando DataFrames

In [1]:
import pandas as pd
  
df = pd.DataFrame()
  
df

Empty DataFrame
Columns: []
Index: []

### Criando a partir de listas

In [2]:
import pandas as pd
  
data = [1, 2, 3, 4, 5]
df = pd.DataFrame(data, columns=['Numeros'])
  
df

   Numeros
0        1
1        2
2        3
3        4
4        5

### Criando a partir de listas de listas

In [3]:
import pandas as pd
  
data = [[0, 1],
	    [2, 3],
	    [4, 5]]
df = pd.DataFrame(data)
  
df

   0  1
0  0  1
1  2  3
2  4  5

### Criando a partir de dicionário de listas

In [4]:
import pandas as pd
  
data = {'Nome': ['Adriano', 'Rodrigo', 'Juliano', 'Mateus'],
        'Sobrenome': ['Soares', 'Tadewald', 'Faccioni', 'Kienzle'],}
df = pd.DataFrame(data)
  
df

      Nome Sobrenome
0  Adriano    Soares
1  Rodrigo  Tadewald
2  Juliano  Faccioni
3   Mateus   Kienzle

### Criando com índice

In [5]:
import pandas as pd
  
data = {'Nome': ['Adriano', 'Rodrigo', 'Juliano', 'Mateus'],
        'Sobrenome': ['Soares', 'Tadewald', 'Faccioni', 'Kienzle'],}
df = pd.DataFrame(data, index=['p1', 'p2', 'p3', 'p4'])
  
df

       Nome Sobrenome
p1  Adriano    Soares
p2  Rodrigo  Tadewald
p3  Juliano  Faccioni
p4   Mateus   Kienzle

### Criando a partir de uma lista de dicionários

In [6]:
import pandas as pd
  
data = [{'Nome': 'Adriano', 'Sobrenome': 'Soares'},
		{'Nome': 'Rodrigo', 'Sobrenome': 'Tadewald'},
		{'Nome': 'Juliano', 'Sobrenome': 'Faccioni'},
		{'Nome': 'Mateus', 'Sobrenome': 'Kienzle'},
	   ]
df = pd.DataFrame(data)
  
df

      Nome Sobrenome
0  Adriano    Soares
1  Rodrigo  Tadewald
2  Juliano  Faccioni
3   Mateus   Kienzle

## Principais Atributos

### columns

In [7]:
import pandas as pd
  
data = {'Nome': ['Adriano', 'Rodrigo', 'Juliano', 'Mateus'],
        'Sobrenome': ['Soares', 'Tadewald', 'Faccioni', 'Kienzle'],}
df = pd.DataFrame(data, index=['p1', 'p2', 'p3', 'p4'])
  
df.columns

Index(['Nome', 'Sobrenome'], dtype='object')

### index

In [8]:
import pandas as pd
  
data = {'Nome': ['Adriano', 'Rodrigo', 'Juliano', 'Mateus'],
        'Sobrenome': ['Soares', 'Tadewald', 'Faccioni', 'Kienzle'],}
df = pd.DataFrame(data, index=['p1', 'p2', 'p3', 'p4'])
  
df.index

Index(['p1', 'p2', 'p3', 'p4'], dtype='object')

### shape

In [9]:
import pandas as pd
  
data = {'Nome': ['Adriano', 'Rodrigo', 'Juliano', 'Mateus'],
        'Sobrenome': ['Soares', 'Tadewald', 'Faccioni', 'Kienzle'],}
df = pd.DataFrame(data, index=['p1', 'p2', 'p3', 'p4'])
  
df.shape

(4, 2)