# Realizando cálculos e análises

In [23]:
import pandas as pd

df_vendas = pd.read_csv('datasets/vendas.csv', sep=';', decimal=',')
df_produtos = pd.read_csv('datasets/produtos.csv', sep=';', decimal=',', index_col=0)

df_produtos = df_produtos.rename(columns={'nome': 'produto'})
df_produtos = df_produtos[['produto', 'preco']]
df_vendas = pd.merge(left=df_vendas, 
                    right=df_produtos, 
                    on ='produto', 
                    how ='left')
df_vendas.head(10)

,data,id_venda,filial,vendedor,produto,cliente_nome,cliente_genero,forma_pagamento,preco
0,2023-01-12 07:42:38.311304,1,Canoas,Luis Fernando,Tenis Nike,Anthony Moon,masculino,credito,300
1,2023-01-12 08:21:37.427917,2,Florianópolis,Claudia dos Santos,Tenis Adidas,Bud Loughlin,masculino,pix,450
2,2023-01-12 08:27:36.903347,3,São Paulo,Cassia Moraes,Tenis Fila,Gonzalo Kroes,masculino,credito,250
3,2023-01-12 09:32:38.748455,4,Florianópolis,Mario Sérgio,Tenis Nike,Lisa Thomas,feminino,credito,300
4,2023-01-12 11:01:38.047889,5,Canoas,Luis Fernando,Tenis Fila,Charles Bowlin,masculino,credito,250
5,2023-01-12 14:41:39.235334,6,Canoas,Carlos Henrique,Tenis Adidas,Shari Craig,feminino,credito,450
6,2023-01-13 06:40:39.161308,7,Florianópolis,Claudia dos Santos,Tenis Adidas,Frank Felker,masculino,credito,450
7,2023-01-13 07:21:39.554138,8,São Paulo,Cassia Moraes,Tenis NB,Eric Ryan,masculino,credito,500
8,2023-01-13 09:43:37.001444,9,Canoas,Luis Fernando,Tenis Adidas,Myron Wallen,masculino,credito,450
9,2023-01-13 09:58:39.090014,10,Caxias do Sul,Rodrigo Vanzeloti,Tenis Nike,Dawn Cobb,feminino,credito,300

## Vendo as características gerais dos dados

### .describe

In [6]:
df_vendas.describe()

          id_venda        preco
count  2000.000000  2000.000000
mean   1000.500000   374.500000
std     577.494589   103.247664
min       1.000000   250.000000
25%     500.750000   250.000000
50%    1000.500000   300.000000
75%    1500.250000   450.000000
max    2000.000000   500.000000

### .info

In [7]:
df_vendas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   data             2000 non-null   object
 1   id_venda         2000 non-null   int64
 2   filial           2000 non-null   object
 3   vendedor         2000 non-null   object
 4   produto          2000 non-null   object
 5   cliente_nome     2000 non-null   object
 6   cliente_genero   2000 non-null   object
 7   forma_pagamento  2000 non-null   object
 8   preco            2000 non-null   int64
dtypes: int64(2), object(7)
memory usage: 140.8+ KB

## Contando valores únicos

In [10]:
df_vendas['filial'].value_counts()

filial
Florianópolis    356
Canoas           354
Caxias do Sul    333
São Paulo        325
Lajeado          318
Porto Alegre     314
Name: count, dtype: int64

In [11]:
df_vendas['filial'].unique()

array(['Canoas', 'Florianópolis', 'São Paulo', 'Caxias do Sul', 'Lajeado',
       'Porto Alegre'], dtype=object)

## Operações por toda a tabela e por coluna

In [13]:
df_vendas.sum(axis=0)

data               2023-01-12 07:42:38.3113042023-01-12 08:21:37....
id_venda                                                     2001000
filial             CanoasFlorianópolisSão PauloFlorianópolisCanoa...
vendedor           Luis FernandoClaudia dos SantosCassia MoraesMa...
produto            Tenis NikeTenis AdidasTenis FilaTenis NikeTeni...
cliente_nome       Anthony MoonBud LoughlinGonzalo KroesLisa Thom...
cliente_genero     masculinomasculinomasculinofemininomasculinofe...
forma_pagamento    creditopixcreditocreditocreditocreditocreditoc...
preco                                                         749000
dtype: object

In [16]:
df_vendas['preco'].sum()

749000

In [17]:
df_vendas['preco'].mean()

374.5

In [19]:
df_vendas['preco'].median()

300.0

In [20]:
df_vendas['preco'].max()

500

In [21]:
df_vendas['preco'].min()

250

In [22]:
df_vendas['preco'].count()

2000